*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans';
    font-weight:400;
    width:100vw;
    min-height: 100vh;
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-bottom.svg), url(images/bg-pattern-top.svg);
    background-size: 60%, 60%;
    background-repeat: no-repeat, no-repeat;
    background-position: 50vw 50vh, -10vw -50vh;
    overflow: hidden;
    color: hsl(229, 23%, 23%);
}
.bio {
    margin-top: 75px;
    align-self: center;
    text-align: center;
    color:hsl(227, 10%, 46%);
}
.bio-name{
    font-weight: 700;
    margin-right: 5px;
    color: hsl(229, 23%, 23%);
}
.bio-location{
    margin-top:10px;
    margin-bottom:25px;
    font-size:14px;
}
.stats{
    padding: 25px 0px;
    width:100%;
    border-top:1px solid #ddd;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.stats-section{
    text-align: center;
}
.stats-bold{
    font-weight:700;
    color: hsl(229, 23%, 23%);
}
.stats-info{
    margin-top:10px;
    font-weight:300;
    font-size:11px;
    letter-spacing: 1px;
    color: hsl(227, 10%, 46%);
}
.bubbles{
    display: block;
    height:150px;
    background-image:url(images/bg-pattern-card.svg);
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}
.icon{
    position:absolute;
    margin-top: 100px;
    align-self: center;
    border-radius: 100%;
    border: 5px solid #fff;
}
@media screen and (min-width:531px) {
    .card {
        background-color:#fff;
        padding: 0;
        width:350px;
        
        margin: 130px auto 0;
        border-radius: 20px;
        
    }
    .card-content{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    
}
@media screen and (max-width:530px) {
    body{
        background-image: url(images/bg-pattern-bottom.svg), url(images/bg-pattern-top.svg);
        background-size: 100%, 100%;
        background-repeat: no-repeat, no-repeat;
        background-position: 50vw 50vh, -50vw -30vh;
    }
    .card {
        padding:0% 15%;
        margin-top: 130px;
    }
    .card-content{
        background-color:#fff;
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
}
.attribution{
    margin-top:25px;
}