*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans';
    width:100vw;
    min-height: 100vh;
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-bottom.svg), url(images/bg-pattern-top.svg);
    background-size: 60%, 60%;
    background-repeat: no-repeat, no-repeat;
    background-position: 50vw 50vh, -10vw -50vh;
    overflow: hidden;
}
@media screen and (min-width:1024px) {
    .card {
        background-color:#fff;
        padding: 0;
        width:400px;
        margin: 25% auto;
    }
    
}
